.education_and_skills {
    padding: clamp(0px, 1vw, 40px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.education_section {
    width: clamp(290px, 45vw, 500px);
    margin: 10px;
}

.education_and_skills_section_title {
    font-size: clamp(1.2rem, 6vw, 1.6rem);
    padding-bottom: 20px;
}

.institute_section {
    padding: 10px 0;
}

.skills { margin: 10px; }