.container_one {
    width: 100%;
    height: 100vh;
    background-color: #20242A;
    color: #fd6128;
    transform: translateX(-100vw);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.code_image {
    margin-top: 40px;
    width: 250px;
    height: 250px;
    clip-path: circle(50% at 50% 50%);
    /* border-radius: 50%; */
}

.intro_box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 40px 0;
    transform: translateX(-10%);
}

.name {
font-size: 3rem;
color: #fff;
}

.intro {
    margin-top: 30px;
    font-size: 1.2rem;
}

.navigation {
    background-color: #ff4500;
    border-radius: 10px;
}

.nav_links {
    display: inline-block;
    list-style-type: none;
    cursor: pointer;
    padding: 15px; 
    color: #fff;
}

.scroll_to_top { display: none; }

.active {
    background-color: #fff;
    color: #ff4500;
    border-radius: 10px;
    transition: background-color 1s ease;
}