.freelancing {
    padding: 60px 0;
    transform: scale(0.4);
    opacity: 0;
    transition: transform 500ms ease-in, opacity 300ms ease-in;
}

.toggle_scale {
    transform: scale(1);
    opacity: 1;
}

.freelancing_line_one, .freelancing_line_two {
    padding: 10px 10px;
    font-size: clamp(1.4rem, 6vw, 2rem);
    text-align: center;
}